@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}


#conatiner_section {
    display: flex;
    width: 100vw; 
    height: 100vh;    
    box-shadow: 0px 1px 8px 3px #00000025;
    border-radius: 12px;
    border: solid 1px rgb(215, 215, 215);
}



.login_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}

.imgContainer {
    flex: 1;
    background-color: #3d3069f3;
    height: auto; /* You can change this to height: 100% if needed */
    padding: 1rem;
    margin: 0;
    position: relative; /* This is required for the child to be positioned relative to this container */
    animation: changeImg 20s linear infinite;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.imgContainer img {
    width: 28vw; /* Adjust size as necessary */
    filter: drop-shadow(55px 5px 3px rgba(0, 0, 0, 0.5));
    transform: rotate(45deg);
    transition: all 500ms;
    position: absolute;
    left: 20%; /* Position from the left of the parent container */
    top: 20%; /* Position from the top of the parent container */
}


@keyframes changeImg {
    0% {
        background-color: #0e4082;
    }
    50% {
        background-color: #81007f;
    }
    100% {
        background-color: rgb(144, 108, 108);
    }
}

.loginBtns{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 12px;
}
.loginBtns a{
    padding: 10px;
    text-decoration: none;
    color: white; 
    font: bolder;
}

.loginBtns a:hover{
    background-color: #564b4b;
    padding: 10px;
    border-radius: 15%;
    font-weight: 600;
    transition: 80ms all ease-in;

}



.formContainer {
    flex: 1;
    border-radius: 0px 12px 12px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fafafa;
}

.login_container img {
    width: 40%;
    display: flex;
    align-items: center;
    margin: auto;
}

.imgContainer img:hover {
    transform: rotate(18deg);
    scale: 1.2;
    margin-left: 40px;
}

.inputBoxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inputBoxes input {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #fafafa;
    transition: all 500ms;
    width: 24vw;

}

.inputBoxes input:focus {
    outline: none;
    border-bottom: 2px solid #80167f;
}

.passLogin {
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.passLogin a {
    text-decoration: none;
}

.passLogin button {
    color: white;
    background-color: #3d3069f3;
    width: 100px;
    padding: 2px;
    border-radius: 25px;
}

.lowerIcons {
    font-size: 12px;
    color: #3d3069f3;
    display: flex;
    align-items: end;
    justify-content: center;
    text-transform: capitalize;
    gap: 15px;
}

.lowerBtns {
    display: flex;
    align-items: center;
    gap: 3px;
}

.lowerBtns img {
    width: 20px;
}

.lowerBtns a {
    text-decoration: none;
}

/* Media Query */
@media (max-width: 700px) and (min-width: 320px) {
    #conatiner_section {
        flex-direction: column;
        height: 100vh;
    }

    .imgContainer img {
        width: 40vw;
        left: 28%; /* Adjusting position on smaller screens */
    }

    .loginBtns {
        display: none;
    }

    .formContainer {
        width: auto; /* Auto width for smaller screens */
        flex: 3; /* Make the form container take more space */
    }

    .login_container {
        gap: 24px; /* Gap between elements */
    }

    .passLogin {
        flex-direction: column;
        gap: 12px; /* Adjusting the layout of the buttons */
    }

    .passLogin button {
        width: 100%; /* Full-width buttons on smaller screens */
    }
}

